
.red-border {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

.green-border {
  background: rgba(45, 255, 80, 0.2);
  box-shadow: 0 0 0 3px rgb(45, 255, 62);
}

.blue-border {
  background: rgba(48, 45, 255, 0.2);
  box-shadow: 0 0 0 3px rgb(45, 48, 255);
}
