<meta charset="UTF-8">

<!-- шрифты -->
<!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap&subset=cyrillic" rel="stylesheet"> -->

<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap" rel="stylesheet">

<!-- шрифты -->
<!-- <link rel="stylesheet" href="{{root}}assets/css/fonts.min.css"> -->

<!-- fontawesome моя регистрация-->
<!-- <script src="https://kit.fontawesome.com/b426b3e4f6.js" crossorigin="anonymous"></script> -->

<!-- fontawesome версия-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous"/>

<!-- слайдер -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css"> -->

<!-- стили -->
<link rel="stylesheet" href="{{root}}assets/css/style.min.css">


<!-- <link rel="shortcut icon" href="{{root}}assets/img/icons/favicon.ico" type="image/x-icon"> -->

<!-- Useful meta tags -->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index, follow, noodp">
<meta name="googlebot" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">
<meta name="keywords" content="">
<meta name="description" content="">

<title>{{title}}</title>
